{% extends "base.html" %}
{%from "pagination.html" import pagination_macro with context%}
{% block content %}
<div class="container">
  <h3>掲示板</h3>

  <div class="row">
    <div class="col-md-8">
      {% if thread_list %}
      {% for thread_id, thread_title, thread_description in thread_list %}
      <div class="panel panel-default">
        <div class="panel-heading"><a href="{{ url_for('bbs_view_thread', thread_id=thread_id) }}">{{ thread_title }}</a></div>
        <div class="panel-body">{{ thread_description }}</div>
      </div>
      {% endfor %}
      {% endif %}

      {{ pagination_macro('bbs', search_word) }}

    </div>
    <div class="col-md-4">
      <form action="{{ url_for('bbs') }}" method="GET" role="form">
        <div class="input-group">
          <input type="text" class="form-control" name="q">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">検索</button>
          </span>
        </div>
      </form>
      <hr />
      <a href="{{ url_for('bbs_create_thread') }}" class="btn btn-primary">新しくスレッドを作る</a>
    </div>
  </div>
</div>
{% endblock %}