{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
   
{% if data %}
<h3>{{data}}</h3>
{% else %}

<a href="/logout">Logout</a> <br> <br>
<form action="" method="POST">
  <input type="username" name="username" placeholder="Instagram Username">
  <input type="submit" value="Finds">
</form>
{% endif %}

{% else %}
<p>Ranking</p>

<table id="ranking" class="table table-striped">
  <thead>
    <tr>
      <td width="10px"><b>Place</b>
      </td>
      <td><b>Team</b>
      </td>
      <td><b>Score</b>
      </td>
    </tr>
  </thead>
  <tbody>
{% if ranking_list %}
{% for place, username, score in ranking_list %}
  <tr><td>{{ place }}</td><td><a href="{{ url_for('user') }}?username={{ username | quote_plus }}">{{ username }}</a></td><td>{{ score }}</td></tr>
{% endfor %}
{% endif %}
  </tbody>
</table>

{% endif %}
{% endblock %}