{% extends "base.html" %}
{% block content %}
   
{% if user_data %}
<div class="col-lg-8 col-lg-offset-2">
  <div class="well bs-component">
    <form action="{{ url_for('user_edit') }}" method="POST" class="form-horizontal">
      <fieldset>
        <legend>登録情報変更</legend>
        <div class="form-group">
          <label for="barrel" class="col-lg-2 control-label">バレル</label>
          <div class="col-lg-10">
            <input class="form-control" name="barrel" id="barrel" placeholder="Barrel" type="text">
          </div>
        </div>
        <div class="form-group">
          <label for="flight" class="col-lg-2 control-label">フライト</label>
          <div class="col-lg-10">
            <input class="form-control" name="flight" id="flight" placeholder="Flight" type="text">
          </div>
        </div>
        <div class="form-group">
          <label for="shaft" class="col-lg-2 control-label">シャフト</label>
          <div class="col-lg-10">
            <input class="form-control" name="shaft" id="shaft" placeholder="Shaft" type="text">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">キャンセル</button>
            <button type="submit" class="btn btn-primary">送信</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

{% else %}
<div class="text-center">
  <h1> Please login </h1>
</div>

{% endif %}
{% endblock %}